@button-primary__background: #80ff00;
@link__color: #ff0000;
@link__hover__color: #0040FF;
@copyright__background-color: #ff0000;
/* hide arrow on gallery */
body.catalog-product-view {
    .page-wrapper {
        .page-main {
            .fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows {
                .fotorama__arr {
                    display: none !important;
                }
            }
        }
    }
}
